body {
    background-color: white;
}

.container {
    display: grid;
    grid-template-rows: 40vh auto 10vh;
    grid-template-columns: 10vw auto 10vw;
}

.textfield {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    font-size: 4vh;
    height: calc(20px + 5vh);
    width: 30vw;
}

#hash {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    font-size: calc(20px + 5vh);
    margin: 0;
    padding-right: calc((100vw - 20vw)/2);
}

#hint {
    grid-column-start: 2;
    justify-self: center;
    align-self: end;
    font-family: 'Work Sans', Tahoma, Geneva, Verdana, sans-serif
}

#colourName {
    grid-row-start: 3;
    justify-self: center;
    grid-column-start: 2;
    margin-top: 25px;
    font-family: 'Work Sans', Tahoma, Geneva, Verdana, sans-serif
}

#loader {
  grid-row-start: 3;
  justify-self: center;
  grid-column-start: 2;
}

/* Load Spinner */
.lds-ellipsis {
    display: none;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}